<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/details.css">
    <script defer src="../Services/details.js"></script>
    <title>DETAILS | NYT</title>
</head>
<body>
    

    <div id="container">
        <div id="navbar">
            <ul id="options">
                <img id="ntyI" src="../Assets/NYT.png" alt="">
                <li class="option1">WELCOME</li>
                <li class="option2">DASHBOARD</li>
                <li class="option3">DETAILS</li>
                <li class="option4">LOGIN</li>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a>
            </ul>
        </div>
        <div id="title">
            <h2>New York Times <i>&reg;</i></h2>
            <h1>Best Sellers</h1>
        </div>
        <a id="back" href="./dashboard.html">BACK TO INDEX</a>
        <div id="textDetail">
        
        </div>
    </div>   
</body>
</html>