<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN | NYT</title>
  <!-- CSS LINKS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Styles/login.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <!-- SCRIPT LINKS -->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script defer type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script defer src="../main.js" type="module"></script>
</head>
<body>
  <!-- CONTAINER -->
      <div id="form-container">
        <div id="form">
          <h1>LOGIN NYT</h1>
          <section id="singLinks">
            <a class="logged-out" href="#" data-bs-toggle="modal" data-bs-target="#signinModal">Signin</a>
            <a class="logged-out" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Signup</a>
            <a class="logged-in" href="#" id="logout">Logout</a>
          </section>
        </div>
      </div>

  <!-- BS MODALS -->
  <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>SignUp</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-5">
          <form id="signup-form">

            <!--
                   --CORRECCIÓN--
                   El parámetro "for" de la etiqueta label debe estar asociado al parámetro "id" del input
             -->
            <label for="email">Email:</label>
            <input type="text" id="signup-email" class="form-control mb-3" placeholder="Title" required>

            <label for="password">Password:</label>
            <input type="password" id="signup-password" class="form-control mb-3" placeholder="Password" required>

            <button type="submit" class="btn btn-primary">SIGN UP</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignin"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>SignIn</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="login-form">
            <label for="email">Email</label>
            <input type="text" id="login-email" class="form-control mb-3" placeholder="Title" required>
            <label for="password">Password:</label>
            <input type="password" id="login-password" class="form-control mb-3" placeholder="Password" required>

            <button type="submit" class="btn btn-success w-100 mb-4">SIGN IN</button>
            <button type="button" class="btn btn-info" id="googleLogin">Google</button>
            <button type="button" class="btn btn-primary" id="facebookLogin">Facebook</button>
            <button type="button" class="btn btn-dark" id="githubLogin">Github</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  
</body>

</html>