*{
    margin: 0;
    padding: 0;
}

/* estilo body */
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    }
    
/* DASHBOARD STYLE */
    
/* estilo container */
#container{
    width: 100%;
    height: auto;
    background-color: rgba(128, 128, 128, 0.124);
    display: flex;
}

/* NAVBAR STYLES */
    
#navbar{
    position: fixed;
    left: -28%;
    width: 30%;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: white;
}

#ntyI{
    width: 50%;
}

#navbar:hover{
    transform: translate(85%);
    transition: .8s ease-in;
}

#navbar:not(:hover){
    transform: translate(0%);
    transition: 1s ease-in;
}
ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

li{
    font-size: .75em;
    text-align: center;
    border-bottom: 1px solid transparent;
}

li:hover{
    cursor: pointer;
    /* transition: .2s ease-in; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.332);
    box-shadow: 0 .5em 1em -0.5em;
}
li:not(:hover){
    transition: .2s ease-in;
}
/* TITLE STYLES */

#title{
    margin-left: 5%;
}

h1{
    background-color: black;
    color: white;
    width: 60%;
    font-size: 2.7em;
}


/* CARDS STYLES */

#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 5%;
}

#card{
    align-items: center;
    background-color: white;
    border-radius: 1.5%;
    border: 1px solid rgba(0, 0, 0, 0.438);
    box-shadow: 0em 0em 1.5em -.8em black;
    display: flex;
    flex-flow: column;
    font-size: .9em;
    height: 12em;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-left: 7%;
    text-align: center;
    width: 80%;
}

h4{
    border-bottom: 1px solid black;
    background-color: black;
    color: wheat;
    width: 90%;
    padding: 5% 0;
    box-shadow: 0 1em .5em -.9em black;
}
p:hover{
    background-color: rgba(0, 0, 0, 0.332);
}


a{
    text-decoration: none;
    color: black;
    box-shadow: 0em .1em .5em -.25em black;
    padding: 3%;
    border-radius: 5%;
    border: 1px solid rgba(0, 0, 0, 0.438);
}

#card:hover{
    transform: scale(1.05);
    transition: .8s ease-in-out;
    
}
#card:not(:hover){
    transform: scale(1);
    transition: .8s ease-in-out;
}
@media (min-width: 768px){
    #content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin-top: 5%;
    }
    #card{
        width: 80%;
        height: 12em;
        font-size: 1.3em;
        margin-left: 7%;
        justify-content: space-evenly;
    }
    #navbar{
        font-size: 1.7em;
    }
    h1{
        background-color: black;
        color: white;
        width: 55%;
        font-size: 5em;
    }
}

@media (min-width: 1024px){
    #content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    #card{
        width: 80%;
        height: 12em;
        font-size: 2em;
        flex-flow: column;
        padding: 2%;
        margin-right: 4%;
    }

    h4{
        border-bottom: 1px solid black;
        background-color: black;
        color: wheat;
        width: 100%;
        padding: 5% 0;
        box-shadow: 0 1em .5em -.9em black;
    }
    #navbar{
        font-size: 2em;
        width: 24.5%;
        left: -26%;
        padding-left: 2%;
    }
    #navbar:hover{
        transform: translate(80%);
        transition: .8s ease-in;
    }
}

